/* input[type="file"] {
  position: relative;
  border: none !important;
  border-top: none !important;
  box-shadow: none !important;
  height: px !important;
}

input[type="file"]::file-selector-button {
  width: 136px;
  color: transparent;
}

input[type="file"]::before {
  position: absolute;
  pointer-events: none;
  top: 15px;
  left: 32px;
  height: 20px;
  width: 20px;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%230964B0'%3E%3Cpath d='M18 15v3H6v-3H4v3c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-3h-2zM7 9l1.41 1.41L11 7.83V16h2V7.83l2.59 2.58L17 9l-5-5-5 5z'/%3E%3C/svg%3E");
}

input[type="file"]::after {
  position: absolute;
  pointer-events: none;
  top: 11px;
  left: 55px;
  color: #0964b0;
  content: "Upload File";
}


input[type="file"]::file-selector-button {
  border-radius: 4px;
  padding: 0px;
  height: 40px;
  cursor: pointer;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  margin-right: 16px;
  transition: background-color 200ms;
}

input[type="file"]::file-selector-button:hover {
  background-color: #f3f4f6;
}

input[type="file"]::file-selector-button:active {
  background-color: #e5e7eb;
} */
.require{
  color: red;
  font-size: 15px;
}


.form-title li{
     list-style-type: none;
     display: inline-block;
     margin-left: 25px;
     font-weight: bold;
     font-size: 20px;    
}

.type-title{
  margin-left: 20px;
   color: red;
}

.section-title{
    color: black;
    font-weight: bold;
}
.photo-btn{
  border: solid 2px lightblue;
  border-radius: 3px;
}
.photo-btn a{
  text-decoration: none;
}
.error{
  font-weight: bold;
}
.chosen-container a{
    background-color: white !important;
    height: 34px !important;
    border: solid gray 1px !important;
}

.chosen-container-single .chosen-single{
  background-color: #fff !important;
  background:#fff !important;
  border: 1px solid #DDE2E8 !important;
  box-shadow: none !important;
  border-radius: 0px !important;
}

.toggle-edit-form .fas{
  font-size: 20px;
}
.form-group {
  margin-bottom: 0px !important;
    }